.login-form{
    padding: 50px 0;
}
.login-section {
    width: 50%;
    margin: auto;
    background: #eeeeee;
    padding: 50px;
    border-radius: 20px;
    border: 1px dashed;
}
.login-section input[type=button] {
    -webkit-appearance: button;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    background: #6e6e6e;
    color: #eee;
}
.login-section h4 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-style: oblique;
    font-weight: 700;
}
.login-section input {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    display: block;
}